//Colors
$White:#FFF;
$Platinum:#E6E7E7;
$Light-gray:#D1D1D1;

$Fuzzy-Wuzzy:#E56353;
$Ruddy-pink:#D76C69;
$Spanish-pink:#ECBCBA;

$Eerie-black:#121619;
$Raisin-black:#222323;
$Nickel:#6C6E70;

//Typography

$Roboto:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;
$roboto-regular:400;
$roboto-light:300;
$playfair-regular:400;
$playfair-black-italic:900i;

// Font Sizes

$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;