//typography
//Lato

$black:900;
$bold:700;
$regular:400;
$light:300;

h1{
    font-family: 'Lato', sans-serif;
    font-weight: $black;
}

h5{
    font-weight: $regular;
}

p{
    font-weight: $light;
}
